/*@font-face {
	font-family: "Komika Boss";
	src: ;
}*/

body {
	font-family: "Source Sans Pro", Arial, sans-serif;
	background-color: #FFFEFB;
	font-size: 16px;
}

#wrapper {
	width: 100%;
	margin: 0;
}

h1 {
	font-family: "Fredoka One", Arial, serif;
	color: #A1A1A1;
	background-color: #515151;
	margin: 0;
	padding: .5em;
	font-size: 3em;
	font-weight: normal;
	text-shadow: 1px 1px .75px #313131;
}

#headbutt {
	text-decoration: none;
	color: #A1A1A1;
}

#oblue {
	color: #3CFFF9;
}

.iyel {
	color: #FFFF04;
}

#emag {
	color: #FF00AF;
}

h1:hover {
	background-color: #3CFFF9;
	color: #A1A1A1;
}

h1:hover .iyel {
	color: #A1A1A1;
}

h1:hover #oblue {
	color: #A1A1A1;
}

h1:hover #emag {
	color: #A1A1A1;
}

nav {
	background-color: #C7C7C7;
}

nav a {
	display: block;
	float: left;
	text-decoration: none;
	color: #FFFEFB;
	padding: .75em;
	margin: 0;
}

nav a:hover {
	background-color: #FFFF04;
	color: #A1A1A1;
}

#currentpage {
	background-color: #FFFF04;
	color: #A1A1A1;
	border: 0;
}

#imgwrapper {
	width: 85%;
	margin: 10% auto;
}

#imgwrapper img {
	display: block;
	float: left;
	width: 44%;
	margin: 3%;
	box-shadow: 10px 10px 0 -3px #C7C7C7;
}

#imgwrapper img:hover {
	/*box-shadow: 10px 10px 0 -3px #C7C7C7;*/
}

#workwrapper {
	width: 80%;
	margin: 10% auto;
	padding: 2%;
	outline-style: dashed;
	outline-color: #3CFFF9;
}

#workwrapper img {
	display: block;
	float: left;
	width: 19%;
	margin: 3%;
	/*box-shadow: 8px 8px 0 -3px #C7C7C7*/
}

#workwrapper img:hover {
	box-shadow: 8px 8px 0 -3px #C7C7C7;
}

#aboutwrapper {
	width: 75%;
	margin: 10% auto;
	padding: 5%;
	outline-style: dashed;
	outline-color: #FFFF04;
}

#aboutwrapper img {
	display: inline-block;
	float: left;
	padding: 0 4% 4% 0;
}

#aboutwrapper p {
	font-size: 1.33em;
}

#aboutaccent {
	font-size: 1.5em;
	font-family: "Fredoka One", Arial, serif;
	color: #515151;
}

#contactwrapper {
	width: 50%;
	margin: 17%;
	padding: 5%;
	font-size: 1.25em;
	outline-style: dashed;
	outline-color: #FF00AF;
}

#contactwrapper a {
	text-decoration: none;
	font-family: "Fredoka One", Arial, serif;
	color: #717171;
}

footer {
	clear: both;
	background-color: #C7C7C7;
	padding: 0;
	margin: 0;
}

footer a {
	text-decoration: none;
	display: block;
	float: left;
	color: #FFFEFB;
	padding: .75em;
}

footer a:hover {
	background-color: #FF00AF;
}

footer p {
	display: none;
}

.clearfix:after {
  display: block;
  content: " ";
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}

@media only screen and (max-width: 768px) {
	#workwrapper img {
		width: 46%;
		margin: 1% 0;
	}
	img {
		clear: both;
		width: 100%;
		margin: 1% 0;
	}
}

@media only screen and (max-width: 400px) {
	nav {
		font-size: 3em;
	}

	nav a {
		clear: both;
		float: none;
		display: block;
		text-align: center;
	}

	footer a {
		display: none;
	}

	footer p {
		display: block;
		font-size: 1em;
		color: #FFFEFB;
		padding: .75em;
		text-align: center;
	}

	footer p:hover {
		background-color: #FF00AF;
	}

	#imgwrapper {
		display: none;
	}

	#workwrapper {
		display: none;
	}

	#aboutwrapper {
		display: none;
	}
}