body {
	width: 960px;
	margin: 0 24px;
	font-family: 'Arvo', serif;
	background-color: #FFF0F0;
}

header {
	background-color: #996753;
	padding: 18px;
	font-family: 'Exo', sans-serif;
	font-weight: normal;
}

h1 {
	color: #FFF0F0;
	font-size: 36px;
}

nav {
	background-color: #CCB5AC;
	clear: both;
}

nav a {
	color: #FFF0F0;
	text-decoration: none;
	display: block;
	width: 100px;
	text-align: center;
	float: right;
	background-color: #CCB5AC;
	font-family: 'Exo', sans-serif;
	padding: 9px;
}

nav a:hover {
	background-color: #B7CCAC
}

.clearfix:after {
  display: block;
  content: " ";
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}

a {
	text-decoration: none;
	color: #B7CCAC;
}

.row {
	clear: both;
	margin: 10px 0;
	padding: 20px 0;
	background-color: rgba(176,255,176,.20);
}

.picright {
	float: right;
}

.picleft {
	float: left;
}

.row img {
	padding: 15px;
}

footer {
	display: block;
	background-color: #996753;
	text-align: center;
	padding: 10px;
	clear: both;
	color: #B7CCAC;
	font-family: 'Exo', sans-serif;
}

footer a {
	display: inline-block;
	padding: 5px;
}

#fampic {
	padding: 1em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.footcopy {
	color: #FFF0F0;
}